@model IEnumerable<DevXuongMoc.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_Admins.cshtml";
}

<!DOCTYPE html>


<body>
    <div class="row">
        <form action="" method="get" class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="keyword">Tìm theo tài khoản</label>
                <input class="form-control" name="name" id="keyword" placeholder="Nhập tên cần tìm" />
            </div>
            <button type="submit" class="btn btn-default mr-1"><i class="fas fa-search"></i></button>
            <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i>Thêm mới</a>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Tên danh mục
                    </th>

                    <th>
                        Trạng thái
                    </th>

                    <th>
                        Tác vụ
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
             
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>

                        <td>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Sửa</a>
                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Xem chi tiết</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Xoá</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />

    </div>
</body>

